/*
 * Library Service
 * The library service
 *
 * The version of the OpenAPI document: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.AnalyticsCreateUserReportRequest;
import org.openapitools.client.model.AnalyticsCreateUserReportResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AnalyticsApi {
    private ApiClient localVarApiClient;

    public AnalyticsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AnalyticsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createUserReport
     * @param analyticsCreateUserReportRequest The input body required by this request (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns whether Report was downloaded </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createUserReportCall(AnalyticsCreateUserReportRequest analyticsCreateUserReportRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = analyticsCreateUserReportRequest;

        // create path and map variables
        String localVarPath = "/analytics/createUserReport";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createUserReportValidateBeforeCall(AnalyticsCreateUserReportRequest analyticsCreateUserReportRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'analyticsCreateUserReportRequest' is set
        if (analyticsCreateUserReportRequest == null) {
            throw new ApiException("Missing the required parameter 'analyticsCreateUserReportRequest' when calling createUserReport(Async)");
        }
        

        okhttp3.Call localVarCall = createUserReportCall(analyticsCreateUserReportRequest, _callback);
        return localVarCall;

    }

    /**
     * Endpoint for creating user report
     * Refer to summary
     * @param analyticsCreateUserReportRequest The input body required by this request (required)
     * @return AnalyticsCreateUserReportResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns whether Report was downloaded </td><td>  -  </td></tr>
     </table>
     */
    public AnalyticsCreateUserReportResponse createUserReport(AnalyticsCreateUserReportRequest analyticsCreateUserReportRequest) throws ApiException {
        ApiResponse<AnalyticsCreateUserReportResponse> localVarResp = createUserReportWithHttpInfo(analyticsCreateUserReportRequest);
        return localVarResp.getData();
    }

    /**
     * Endpoint for creating user report
     * Refer to summary
     * @param analyticsCreateUserReportRequest The input body required by this request (required)
     * @return ApiResponse&lt;AnalyticsCreateUserReportResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns whether Report was downloaded </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AnalyticsCreateUserReportResponse> createUserReportWithHttpInfo(AnalyticsCreateUserReportRequest analyticsCreateUserReportRequest) throws ApiException {
        okhttp3.Call localVarCall = createUserReportValidateBeforeCall(analyticsCreateUserReportRequest, null);
        Type localVarReturnType = new TypeToken<AnalyticsCreateUserReportResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Endpoint for creating user report (asynchronously)
     * Refer to summary
     * @param analyticsCreateUserReportRequest The input body required by this request (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns whether Report was downloaded </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createUserReportAsync(AnalyticsCreateUserReportRequest analyticsCreateUserReportRequest, final ApiCallback<AnalyticsCreateUserReportResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = createUserReportValidateBeforeCall(analyticsCreateUserReportRequest, _callback);
        Type localVarReturnType = new TypeToken<AnalyticsCreateUserReportResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
