/*
 * Library Service
 * The library service
 *
 * The version of the OpenAPI document: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.NotificationSendEmailNotificationRequest;
import org.openapitools.client.model.NotificationSendEmailNotificationResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class NotificationApi {
    private ApiClient localVarApiClient;

    public NotificationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public NotificationApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for sendEmailNotification
     * @param notificationSendEmailNotificationRequest The input body required by this request (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns updated order upon success </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sendEmailNotificationCall(NotificationSendEmailNotificationRequest notificationSendEmailNotificationRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = notificationSendEmailNotificationRequest;

        // create path and map variables
        String localVarPath = "/notification/sendEmailNotification";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sendEmailNotificationValidateBeforeCall(NotificationSendEmailNotificationRequest notificationSendEmailNotificationRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'notificationSendEmailNotificationRequest' is set
        if (notificationSendEmailNotificationRequest == null) {
            throw new ApiException("Missing the required parameter 'notificationSendEmailNotificationRequest' when calling sendEmailNotification(Async)");
        }
        

        okhttp3.Call localVarCall = sendEmailNotificationCall(notificationSendEmailNotificationRequest, _callback);
        return localVarCall;

    }

    /**
     * Endpoint for sending an email notification
     * Refer to summary
     * @param notificationSendEmailNotificationRequest The input body required by this request (required)
     * @return NotificationSendEmailNotificationResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns updated order upon success </td><td>  -  </td></tr>
     </table>
     */
    public NotificationSendEmailNotificationResponse sendEmailNotification(NotificationSendEmailNotificationRequest notificationSendEmailNotificationRequest) throws ApiException {
        ApiResponse<NotificationSendEmailNotificationResponse> localVarResp = sendEmailNotificationWithHttpInfo(notificationSendEmailNotificationRequest);
        return localVarResp.getData();
    }

    /**
     * Endpoint for sending an email notification
     * Refer to summary
     * @param notificationSendEmailNotificationRequest The input body required by this request (required)
     * @return ApiResponse&lt;NotificationSendEmailNotificationResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns updated order upon success </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<NotificationSendEmailNotificationResponse> sendEmailNotificationWithHttpInfo(NotificationSendEmailNotificationRequest notificationSendEmailNotificationRequest) throws ApiException {
        okhttp3.Call localVarCall = sendEmailNotificationValidateBeforeCall(notificationSendEmailNotificationRequest, null);
        Type localVarReturnType = new TypeToken<NotificationSendEmailNotificationResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Endpoint for sending an email notification (asynchronously)
     * Refer to summary
     * @param notificationSendEmailNotificationRequest The input body required by this request (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns updated order upon success </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sendEmailNotificationAsync(NotificationSendEmailNotificationRequest notificationSendEmailNotificationRequest, final ApiCallback<NotificationSendEmailNotificationResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = sendEmailNotificationValidateBeforeCall(notificationSendEmailNotificationRequest, _callback);
        Type localVarReturnType = new TypeToken<NotificationSendEmailNotificationResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
